.home-container {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #363636;
}

/* Banner Section */
.banner {
  background-image: url('./banner-image.jpg'); /* Path to your banner image */
  background-size: cover;
  background-position: center;
  padding: 50px 0;
  text-align: center;
  color: #fffcf9;
}

.banner-content {
  margin: auto;
  max-width: 600px;
}

.banner h1 {
  font-size: 3em;
  margin-bottom: 10px;
}

.banner p {
  font-size: 1.4em;
}

.get-started-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.2em;
  color: #fff;
  background-color: #f8931f;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

/* Features Section */
.features {
  margin: 20px;
  text-align: center;
}

.features-heading {
  font-size: 2em;
  margin-bottom: 20px;
}

.feature-item {
  display: inline-block;
  max-width: 250px;
  text-align: center;
  margin: 20px;
}

.feature-item img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.feature-item h3 {
  font-size: 1.5em;
  margin-bottom: 5px;
}

.feature-item p {
  font-size: 1em;
  color: #363636;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .banner h1 {
      font-size: 2.5em;
  }

  .banner p {
      font-size: 1.2em;
  }

  .get-started-button {
      font-size: 1.1em;
      padding: 8px 16px;
  }

  .features-heading {
      font-size: 1.8em;
  }

  .feature-item {
      max-width: 220px;
      margin: 15px;
  }
}

@media (max-width: 768px) {
  .banner h1 {
      font-size: 2em;
  }

  .banner p {
      font-size: 1em;
  }

  .get-started-button {
      font-size: 1em;
      padding: 8px 16px;
  }

  .features-heading {
      font-size: 1.6em;
  }

  .feature-item {
      display: block; /* Stack feature items vertically */
      max-width: 90%;
      margin: 15px auto;
  }

  .feature-item img {
      width: 50px;
      height: 50px;
  }
}

@media (max-width: 480px) {
  .banner h1 {
      font-size: 1.5em;
  }

  .banner p {
      font-size: 0.9em;
  }

  .get-started-button {
      font-size: 0.9em;
      padding: 6px 12px;
  }

  .features-heading {
      font-size: 1.4em;
  }

  .feature-item {
      max-width: 100%;
      margin: 10px auto;
  }

  .feature-item img {
      width: 40px;
      height: 40px;
  }
}
