.categories-page {
  background: linear-gradient(to right, #363636, #f8931f);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: Arial, sans-serif;
}

.categories-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  margin-left: 30px;
}


.categories-page h1{
  color: #fffcf9;
  margin-left: 30px;
}